#startscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: var(--main-color-darker);
}

.startscreen-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startscreen-content img {
    width: 100%;
}

#startscreen-menu {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 28px;
    background-color: var(--transparent-black-80);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

#startscreen-menu button,
#startscreen-menu .button-link {
    animation: slide-in-left 0.5s ease-out forwards;
    opacity: 0;
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out-right {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100px);
    }
}