@font-face {
  font-family: "Zabars";
  src: url("assets/fonts/Zabars.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zabars";
  letter-spacing: 3px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-image: url("assets/img/5_background/backgroundFullScreen.jpg");
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 80px;
  color: rgb(161, 78, 0);
  text-shadow: 2px 2px rgb(105, 51, 0);
  letter-spacing: 8px;
}

canvas {
  background-color: rgb(27, 27, 27);
  position: relative;
  z-index: 1;
  border-radius: 15px;
}

#game-container {
  position: relative;
  width: 800px;
  height: 480px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.8));
  border-radius: 15px;
  overflow: hidden;
}

#startscreen img {
  max-width: 800px;
  object-fit: contain;
}

#startscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgb(153, 68, 8);
}

#startscreen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute; /* Absolute Positionierung innerhalb von #startscreen */
}

.blink {
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin: 20px;
  animation: blink-animation 2s ease-in-out infinite;
  text-shadow: 0 0 10px #ce9822;
  opacity: 1;
}

@keyframes blink-animation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
